In [1]:
import pandas as pd
import numpy as np

In [30]:
df = pd.read_csv("working_files/scores_prep.csv", index_col=0)

In [17]:
df.head()

,season,week,awayteam,hometeam,awayscore,homescore,score_abs,winner_home,winner_away
0,2005,1,Raiders,Patriots,20,30,10,1,0
1,2005,1,Texans,Bills,7,22,15,1,0
2,2005,1,Bengals,Browns,27,13,-14,0,1
3,2005,1,Jets,Chiefs,7,27,20,1,0
4,2005,1,Broncos,Dolphins,10,34,24,1,0

In [32]:
team_stats = df.groupby(by="hometeam").sum()
team_stats.insert(team_stats.shape[1],"win_home_ratio", (team_stats.winner_home / (team_stats.winner_home + team_stats.winner_away)*100))
team_stats.insert(team_stats.shape[1],"win_away_ratio", (team_stats.winner_away / (team_stats.winner_home + team_stats.winner_away)*100))
#team_stats.sort_values(by="win_ratio", ascending=False)

In [33]:
team_stats

,season,week,awayscore,homescore,score_abs,winner_home,winner_away,win_home_ratio,win_away_ratio
hometeam,,,,,,,,,
49ers,333822,1466,3369,3680,311,89,77,53.614458,46.385542
Bears,335834,1513,3334,3647,313,91,76,54.491018,45.508982
Bengals,333831,1552,3671,3716,45,90,76,54.216867,45.783133
Bills,337855,1512,3506,3684,178,88,80,52.380952,47.619048
Broncos,335838,1479,3416,3972,556,103,64,61.676647,38.323353
Browns,337851,1482,3539,3074,-465,70,98,41.666667,58.333333
Buccaneers,337848,1546,3540,3620,80,82,86,48.809524,51.190476
Cardinals,333813,1517,3635,3670,35,89,77,53.614458,46.385542
Chargers,337855,1536,3521,4304,783,98,70,58.333333,41.666667
Chiefs,339869,1567,3397,4113,716,103,66,60.946746,39.053254
Colts,337855,1553,3456,4273,817,112,56,66.666667,33.333333
Cowboys,337848,1531,3714,4244,530,97,71,57.738095,42.261905
Dolphins,339869,1580,3579,3620,41,91,78,53.846154,46.153846
Eagles,333814,1520,3324,4061,737,97,69,58.433735,41.566265
Falcons,335834,1511,3756,4008,252,91,76,54.491018,45.508982
Giants,335834,1521,3686,3630,-56,82,85,49.101796,50.898204
Jaguars,339869,1497,3532,3354,-178,76,93,44.970414,55.029586
Jets,339869,1518,3550,3546,-4,83,86,49.112426,50.887574
Lions,337848,1583,4131,3757,-374,70,98,41.666667,58.333333
Packers,333817,1489,3099,4502,1403,123,43,74.096386,25.903614
Panthers,337848,1490,3514,3516,2,85,83,50.595238,49.404762
Patriots,337855,1518,2957,4706,1749,135,33,80.357143,19.642857
Raiders,337855,1543,4178,3602,-576,72,96,42.857143,57.142857
Rams,337848,1540,3750,3845,95,86,82,51.190476,48.809524
Ravens,339869,1590,2908,4207,1299,122,47,72.189349,27.810651
Saints,335834,1537,3897,4545,648,99,68,59.281437,40.718563
Seahawks,335834,1561,3210,4267,1057,114,53,68.263473,31.736527
Steelers,335846,1546,3013,4253,1240,122,45,73.053892,26.946108
Texans,321847,1465,3561,3617,56,81,79,50.625000,49.375000
Titans,339869,1559,3784,3917,133,92,77,54.437870,45.562130
Vikings,333817,1519,3424,4047,623,106,60,63.855422,36.144578
Washington,337848,1503,3748,3383,-365,75,93,44.642857,55.357143

In [22]:
team_stats.describe(include="all")

,season,week,awayscore,homescore,score_abs,winner_home,winner_away,win_ratio
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000
mean,336532.593750,1526.375000,3521.843750,3886.875000,365.031250,94.187500,73.156250,56.288229
std,3364.405032,32.920971,292.043535,380.795326,568.733822,16.416824,16.488724,9.804974
min,321847.000000,1465.000000,2908.000000,3074.000000,-576.000000,70.000000,33.000000,41.666667
25%,335834.000000,1509.000000,3390.000000,3620.000000,26.750000,82.750000,65.500000,50.224535
50%,337848.000000,1520.500000,3535.500000,3801.000000,215.000000,91.000000,76.500000,54.327369
75%,337855.000000,1547.500000,3693.000000,4216.250000,721.250000,103.000000,83.500000,61.129221
max,339869.000000,1590.000000,4178.000000,4706.000000,1749.000000,135.000000,98.000000,80.357143

In [ ]:
team_stats.win_ratio.mean()