In [12]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os

In [23]:
df = pd.read_csv("working_files/scores_prep.csv", index_col=0)
display(df.head())
display(df.describe())

,season,week,awayteam,hometeam,awayscore,homescore,score_abs,winner_home,winner_away
0,2018,2,Ravens,Bengals,23,34,11,1,0
1,2018,2,Panthers,Falcons,24,31,7,1,0
2,2018,2,Chargers,Bills,31,20,-11,0,1
3,2018,2,Texans,Titans,17,20,3,1,0
4,2017,2,Texans,Bengals,13,9,-4,0,1

,season,week,awayscore,homescore,score_abs,winner_home,winner_away
count,1289.000000,1289.000000,1289.000000,1289.000000,1289.000000,1289.000000,1289.000000
mean,2019.027153,9.175330,22.494182,23.759503,1.265322,0.539178,0.460822
std,1.422984,5.062066,10.139945,10.328135,14.768326,0.498656,0.498656
min,2017.000000,1.000000,0.000000,0.000000,-49.000000,0.000000,0.000000
25%,2018.000000,5.000000,16.000000,17.000000,-7.000000,0.000000,0.000000
50%,2019.000000,9.000000,23.000000,24.000000,2.000000,1.000000,0.000000
75%,2020.000000,14.000000,30.000000,31.000000,10.000000,1.000000,1.000000
max,2021.000000,18.000000,59.000000,57.000000,44.000000,1.000000,1.000000

In [24]:
df = df.set_index(["season", "hometeam"])
df.sort_index()
df

                   week  awayteam  awayscore  homescore  score_abs  \
season hometeam
2018   Bengals        2    Ravens         23         34         11
       Falcons        2  Panthers         24         31          7
       Bills          2  Chargers         31         20        -11
       Titans         2    Texans         17         20          3
2017   Bengals        2    Texans         13          9         -4
...                 ...       ...        ...        ...        ...
2021   Rams          18     49ers         27         24         -3
       Dolphins      18  Patriots         24         33          9
       Cardinals     18  Seahawks         38         30         -8
       Buccaneers    18  Panthers         17         41         24
       Raiders       18  Chargers         32         35          3

                   winner_home  winner_away
season hometeam
2018   Bengals               1            0
       Falcons               1            0
       Bills                 0            1
       Titans                1            0
2017   Bengals               0            1
...                        ...          ...
2021   Rams                  0            1
       Dolphins              1            0
       Cardinals             0            1
       Buccaneers            1            0
       Raiders               1            0

[1289 rows x 7 columns]

In [33]:
y = df.groupby(level=["season", "hometeam"])["winner_home", "winner_away"].sum()

os.makedirs('working_files', exist_ok=True)  
y.to_csv('working_files/wins_per_season.csv')

C:\Users\itrem\AppData\Local\Temp\ipykernel_4568\3221118013.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  y = df.groupby(level=["season", "hometeam"])["winner_home", "winner_away"].sum()

In [25]:

team_stats = df.groupby(level=[3, 0]).sum()
team_stats.insert(team_stats.shape[1],"win_home_ratio", (team_stats.winner_home / (team_stats.winner_home + team_stats.winner_away)*100))


#team_stats.sort_values(by="win_ratio", ascending=False)


display(team_stats)

display(team_stats.describe(include="all"))

IndexError: list index out of range

,season,week,awayscore,homescore,score_abs,winner_home,winner_away,win_ratio
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000
mean,336532.593750,1526.375000,3521.843750,3886.875000,365.031250,94.187500,73.156250,56.288229
std,3364.405032,32.920971,292.043535,380.795326,568.733822,16.416824,16.488724,9.804974
min,321847.000000,1465.000000,2908.000000,3074.000000,-576.000000,70.000000,33.000000,41.666667
25%,335834.000000,1509.000000,3390.000000,3620.000000,26.750000,82.750000,65.500000,50.224535
50%,337848.000000,1520.500000,3535.500000,3801.000000,215.000000,91.000000,76.500000,54.327369
75%,337855.000000,1547.500000,3693.000000,4216.250000,721.250000,103.000000,83.500000,61.129221
max,339869.000000,1590.000000,4178.000000,4706.000000,1749.000000,135.000000,98.000000,80.357143

In [11]:
sns.relplot

ValueError: could not convert string to float: 'Ravens'