In [56]:
#import libraries

import os
import pandas as pd

In [25]:
# import file json as dadtaframe
df_gamesinfo = pd.read_json("gamescast.json")
df_gamesinfo.head()

,idgame,date,stade,location,attendance,capacity,people,line,over_under
0,401030690,2018-09-14 00:20:00+00:00,Paycor Stadium,"Cincinnati, OH","Attendance: 50,018","Capacity: 65,515",76%,None,None
1,401030694,2018-09-16 17:00:00+00:00,Nissan Stadium,"Nashville, TN","Attendance: 62,372","Capacity: 69,143",90%,None,None
2,401030705,2018-09-16 17:00:00+00:00,Lambeau Field,"Green Bay, WI","Attendance: 78,461","Capacity: 81,441",96%,None,None
3,400951620,2017-09-15 00:25:00+00:00,Paycor Stadium,"Cincinnati, OH","Attendance: 52,942","Capacity: 65,515",81%,None,None
4,400951566,2017-09-08 00:30:00+00:00,Gillette Stadium,"Foxboro, MA","Attendance: 65,878","Capacity: 65,878",100%,None,None

In [3]:
# describe
df_gamesinfo.describe(include="all")

C:\Users\sylva\AppData\Local\Temp\ipykernel_4264\3448566098.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df_gamesinfo.describe(include="all")

,idgame,date,stade,location,attendance,capacity,people,line,over_under
count,1.231000e+03,1231,1231,1231,1097,1231,1097,493,441
unique,NaN,519,32,32,951,30,62,323,42
top,NaN,2018-09-23 17:00:00+00:00,MetLife Stadium,"East Rutherford, NJ","Attendance: 65,878","Capacity: 82,500",100%,Line: BAL -3.0,Over/Under: 46.5
freq,NaN,10,81,81,33,81,424,5,23
first,NaN,2017-09-08 00:30:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,2022-01-10 01:20:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,4.011324e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,1.333934e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,4.009502e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,4.010308e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,4.011280e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,4.012203e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,4.013266e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_gamesinfo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1231 entries, 0 to 1230
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   idgame      1231 non-null   int64
 1   date        1231 non-null   datetime64[ns, UTC]
 2   stade       1231 non-null   object
 3   location    1231 non-null   object
 4   attendance  1097 non-null   object
 5   capacity    1231 non-null   object
 6   people      1097 non-null   object
 7   line        493 non-null    object
 8   over_under  441 non-null    object
dtypes: datetime64[ns, UTC](1), int64(1), object(7)
memory usage: 86.7+ KB

In [14]:
df_gamesinfo["attendance"].isnull().sum()

134

In [26]:
# preprocessing attendance

df_gamesinfo["attendance"] = df_gamesinfo["attendance"].apply(lambda x : 0 if x == None
                                    else int(x.replace("Attendance: ","").replace(",","")))
df_gamesinfo["attendance"].head()

0    50018
1    62372
2    78461
3    52942
4    65878
Name: attendance, dtype: int64

In [27]:
# preprocessing capacity
df_gamesinfo["capacity"] = df_gamesinfo["capacity"].apply(lambda x : 0 if x == None
                                                        else int(x.replace("Capacity: ","").replace(",","")))
df_gamesinfo["capacity"].head()

0    65515
1    69143
2    81441
3    65515
4    65878
Name: capacity, dtype: int64

In [31]:
# preprocessing people

df_gamesinfo["people"] = df_gamesinfo["people"].apply(lambda x : 0 if x == None
                                                    else int(x.replace("%","")))
df_gamesinfo["people"].head()

0     76
1     90
2     96
3     81
4    100
Name: people, dtype: int64

In [32]:
# new feature attendance_info : boolean

df_gamesinfo["attendance_info"] = df_gamesinfo["attendance"].apply(lambda x : 1 if x > 0
                                                                                else 0)

In [38]:
df_gamesinfo[df_gamesinfo["attendance_info"]==0].head()

,idgame,date,stade,location,attendance,capacity,people,line,over_under,attendance_info
40,401220282,2020-09-13 17:00:00+00:00,Ford Field,"Detroit, MI",0,64500,0,Over/Under: 42.5,None,0
43,401220313,2020-09-13 17:00:00+00:00,Mercedes-Benz Stadium,"Atlanta, GA",0,75000,0,Over/Under: 49.0,None,0
46,401220116,2020-09-13 17:00:00+00:00,Highmark Stadium,"Orchard Park, NY",0,71621,0,Over/Under: 38.5,None,0
62,401220131,2020-09-13 17:00:00+00:00,Gillette Stadium,"Foxboro, MA",0,65878,0,Over/Under: 41.5,None,0
65,401220300,2020-09-13 17:00:00+00:00,U.S. Bank Stadium,"Minneapolis, MN",0,66468,0,Over/Under: 44.5,None,0

In [49]:
df_gamesinfo["date"].dtype

datetime64[ns, UTC]

In [54]:
# creates new variables with dt

df_gamesinfo['month'] = df_gamesinfo['date'].dt.month
df_gamesinfo['dayofmonth'] = df_gamesinfo['date'].dt.day
df_gamesinfo['dayofweek']=df_gamesinfo["date"].dt.dayofweek
df_gamesinfo['hour'] = df_gamesinfo['date'].dt.hour
df_gamesinfo['minute'] = df_gamesinfo['date'].dt.minute

In [55]:
df_gamesinfo.head(10)

,idgame,date,stade,location,attendance,capacity,people,line,over_under,attendance_info,dayofweek,dayofmonth,hour,month,minute
0,401030690,2018-09-14 00:20:00+00:00,Paycor Stadium,"Cincinnati, OH",50018,65515,76,None,None,1,4,14,0,9,20
1,401030694,2018-09-16 17:00:00+00:00,Nissan Stadium,"Nashville, TN",62372,69143,90,None,None,1,6,16,17,9,0
2,401030705,2018-09-16 17:00:00+00:00,Lambeau Field,"Green Bay, WI",78461,81441,96,None,None,1,6,16,17,9,0
3,400951620,2017-09-15 00:25:00+00:00,Paycor Stadium,"Cincinnati, OH",52942,65515,81,None,None,1,4,15,0,9,25
4,400951566,2017-09-08 00:30:00+00:00,Gillette Stadium,"Foxboro, MA",65878,65878,100,None,None,1,4,8,0,9,30
5,401127913,2019-09-06 00:20:00+00:00,Soldier Field,"Chicago, IL",62435,61500,100,None,None,1,4,6,0,9,20
6,401030691,2018-09-16 17:00:00+00:00,Mercedes-Benz Stadium,"Atlanta, GA",72528,75000,97,None,None,1,6,16,17,9,0
7,401030704,2018-09-16 17:00:00+00:00,Highmark Stadium,"Orchard Park, NY",69187,71621,97,None,None,1,6,16,17,9,0
8,400951632,2017-09-17 17:00:00+00:00,Lucas Oil Stadium,"Indianapolis, IN",63137,63000,100,None,None,1,6,17,17,9,0
9,401030698,2018-09-16 17:00:00+00:00,Acrisure Stadium,"Pittsburgh, PA",63956,68400,94,None,None,1,6,16,17,9,0

In [ ]:
#Create working file

os.makedirs('working_files', exist_ok=True)  
df_gamesinfo.to_csv('working_files/games_info_prep.csv')